<div class="profile">
    <img src="{{avatar_url}}" class="avatar" alt="user avatar" width="120" height="120"/>
    <div class="content">
        <h1 class="name">{{name}}</h1>
        <p class="bio">{{bio}}</p>
        <ul>
            <li>Followers: <span>{{followers}}</span></li>
            <li>Following: <span>{{following}}</span></li>
            <li>Repos: <span>{{public_repos}}</span></li>
        </ul>

    </div>
</div>